{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}
{% block customstyle %}
  .welcometext{
    margin: 20px 0 10px;
  }
  @media (max-width:500px){
    .welcometext{
      font-size: 1.25rem;
    }
    .cotext{
      font-size:1rem;
    }
  }
{% endblock customstyle %}
{% block body %}
<h2 class="welcometext">Welcome to Dogesolver!</h2>
<h4 class="cotext">Check out our Web-apps</h4>
<div class="container-fluid" id="">
<div class="row row-cols-1 row-cols-md-2 g-4 my-3">
    <div class="col">
      <div class="card bg-dark text-light">
          <img src="static/exematriximg.png" class="card-img-top" alt="8x8_img">
        <div class="card-body">
          <a href="/exematrix" class="link-light"><h5 class="card-title">8 x 8 LED matrix coding</h5></a>
          <p class="card-text">This an online web-app that can generate binary and hex codes for custom made designs for the arduino 8 x 8 LED display.</p>
        </div>
      </div>
    </div>
        <div class="col">
        <div class="card bg-dark text-light">
          <img src="static/threephase.png" class="card-img-top" alt="three_phase_solver_img">
          <div class="card-body">
            <a href="/threephase" class="link-light"><h5 class="card-title">Three Phase Electricity Solver</h5></a>
            <p class="card-text">This online web-app built by DogeSolver can solve Three Phase Electricity problems from the given input variables. (As of now, only balanced Loads work!)</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark text-light">
            <img src="static/fourband.png" class="card-img-top" alt="4_band_resistor_img">
          <div class="card-body">
            <a href="/fourband" class="link-light"><h5 class="card-title">Resistor Color Coding - 4 Bands</h5></a>
            <p class="card-text">This online web-app built by DogeSolver can solve Resistor Color coding for 4 Bands from the given input variables.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark text-light">
            <img src="static/fiveband.png" class="card-img-top" alt="5_band_resistor_img">
          <div class="card-body">
            <a href="/fiveband" class="link-light"><h5 class="card-title">Resistor Color Coding - 5 Bands</h5></a>
            <p class="card-text">This online web-app built by DogeSolver  can solve Resistor Color coding for 5 Bands from the given input variables.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark text-light">
            <img src="static/astabletimer.png" class="card-img-top" alt="ne555_astable_img">
          <div class="card-body">
            <a href="/astabletimer" class="link-light"><h5 class="card-title">NE555 Astable Mode Timer</h5></a>
            <p class="card-text">This online web-app can calculate the On and Off time in Astable mode timer Circuit <br>(NE555 timer Astable mode).</p>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock body %}
