{% extends 'base.html' %}
{% block title %}
    Three Phase System
{% endblock title %}
{% block customstyle %}
  .balancedonly{
    font-size:1rem;
    margin:10px 0 25px;
  }
  .tptitle{
    font-size:1.50rem;
  }
  .form-label{
    font-size:1.25rem;
  }
  .wform{
    margin-top:50px;
  }
{% endblock customstyle %}
{% block body %}
<h6 class="text-light balancedonly">(As of now, only balanced Loads work!)</h6>
<h2 class="text-light tptitle">Three Phase Electricity Solver</h2>
<form class="mx-auto wform text-light" action="/threephase" method="POST">
    <div class="form-group my-4">
        <label class="form-label">Select the Type of System: </label>
        <select class="form-select form-control" name="p_type">
            <option selected value="none">Choose the Type of System: </option>
            <optgroup label="Star Connected Systems">
              <option value="1">Star Connnected Balanced Load</option>
              <!-- <option value="4">Star Connected Unbalanced Load - 3 wire</option>
              <option value="5">Star Connected Unbalanced Load - 4 wire</option> -->
            </optgroup>
            <optgroup label="Delta Connected Systems">
              <option value="2">Delta Connnected Balanced Load</option>
              <!-- <option value="3">Delta Connected Unbalanced Load</option> -->
            </optgroup>
          </select>
      </div>
      <div class="form-group my-4">
        <label class="form-label">Select the input Voltage Type:</label>
        <select class="form-control form-select" name="v_type">
            <option selected value="none">Choose the Type of System: </option>
            <option value="p">Phase Voltage</option>
            <option value="l">Line Voltage</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Enter the Voltage value:</label>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Voltage value of entered type" name="v">
      </div>
      <div class="mb-3">
        <label class="form-label">Enter the Phase Impedance 1:</label>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Impedance 1" name="imp1">
      </div>
      <div class="mb-3">
        <label class="form-label">Enter the Phase Impedance 2:</label>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Impedance 2" name="imp2">
      </div>
      <div class="mb-3">
        <label class="form-label">Enter the Phase Impedance 3:</label>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Impedance 3" name="imp3">
      </div>
      <button type="submit" class="btn text-light btn-danger">Calculate</button>
  </form>

    <h3 class="my-5 text-white tptitle">Solution:</h3>
  <div class="containertable">
  <table class="table text-light">
  <tbody>
    {% for key, value in result.items() %}
    <tr>
      <td>{{key}}</td>
      <td>{{value}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock body %}
